<div class="d-flex flex-column align-items-center p-3">
  <div pTooltip="{{ data?.description }}">
    <img width="128" [src]="data?.icon" />
  </div>
  <div class="w-50 mt-2 mb-2">
    <p-progressBar [value]="data?.percentage" [color]="'#333'"></p-progressBar>
  </div>
</div>
