<div class="alert alert-info text-center" role="alert">Achivements</div>
<div class="container h-100">
  <app-badge-widget [badges]="badgeList"></app-badge-widget>
</div>
<app-unlock-badge
  [badge]="badgeList[0]"
  [visible]="showUnlockModal"
></app-unlock-badge>
<router-outlet></router-outlet>
