<p-dialog
  [modal]="true"
  [visible]="visible"
  [style]="{ width: '90%', maxWidth: '500px' }"
>
  <ng-template pTemplate="headless">
    <button
      (click)="visible = !visible"
      type="button"
      aria-label="Close"
      class="close position-absolute modal-button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div
      class="d-flex flex-column px-8 py-5 gap-4 justify-content-center align-items-center"
      style="
        border-radius: 12px;
        background-image: radial-gradient(
          circle at left top,
          var(--primary-400),
          var(--primary-700)
        );
      "
    >
      <img class="shakeit" [src]="badge?.icon" alt="badge" />
      <h4 class="text-center text-white mt-3">
        Congrats!! <br />
        You have unlocked a new badge
      </h4>
    </div>
  </ng-template>
</p-dialog>
